@import "../../src/common/styles/sass/variable";
@import "../my-app/src/common/styles/sass/mixins";

.header {
    background-color: $bgSecondColor;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 9999;

}