.worksBlock {
    height: 100vh;
    background-color: #dbc899;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;

}
.title {
background-color: #a75d5d;
}
.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

