.connectionBlock {
    height: 100vh;
    background-color: #b686b4;
}
.worksContainer {
    flex-direction: column;
    justify-content: flex-start;

}
.title {
background-color: #a75d5d;
}
.works {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
}

