
.mainBlock {
    height: 100vh;
    background-color: lightpink;
}


.text {
    width: 350px;
    background-color: #d5a3a3;
}

.photo {
    width: 350px;
    height: 400px;
    background-color: #d5a3a3;
}