@import "../../src/common/styles/sass/variable";
@import "../my-app/src/common/styles/sass/mixins";

.footerBlock {
  height: 20vh;
  background-color: $bgSecondColor;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      background-color: $bgSecondColor;
      color: $textColor;
      @include text($titleFontFamily,20px,1.2);
    }

    .footer {
      width: 300px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }

    .button {
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#00BBD6), to(#EBFFFF));
    }

    .form {
      background-color: #c5d3ec;
      height: 80px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .link {
      background-color: $bgSecondColor;
      color: $textColor;
      @include text($textFontFamily,14px,1.2);
      @media only screen and (min-width: 850px) and (min-height: 600px) {
        &:hover {
          color: $primaryColor;
        }
      }
    }
 .copyright{
  color: rgba(255, 255, 255, .5);
}

  }

}



